* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.wrapper {
    background: #fff;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo {
    width: 370px;
}
.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}
.contact-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #5a616b;
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}
.tech-skills-conteiner {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #acb0b6;
    margin-left: 15px;
    color: #ff6b08;
}
.tech-skills-text {
    color: #acb0b6;
}
.soft-skills-conteiner {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}
.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #acb0b6;
    margin-left: 15px;
    color: #ff6b08;
}
.soft-skills-text {
    color: #acb0b6;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
    margin-top: 108px;
}
.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.info-conteiner {
    margin-bottom: 65px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.teh-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.dots {
    color: #595959;
    font-weight: 100;
}
.project-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 17px;
}
.projects-conteiner {
    margin-bottom: 55px;
}
.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.profession-company {
    color: #ff802c;
}
.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 14px;
}
.profes-devider {
    color: #000;
}

.profes-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.profes-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.main-education {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.education-profes {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 13px;
    padding-bottom: 5px;
}
