body {
    margin: auto;
    font-family: Arial, serif;
}

.header {
    height: 705px;
    width: 1244px;
    margin: auto auto auto 150px;
}

.logo {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: aliceblue;
    background: #458FF6;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    /*background-color: aquamarine;*/
}

.nav-logo {
    display: flex;
    /*margin-left: 54px;*/
    /*margin-left: 190px;*/
    /*background-color: papayawhip;*/
}

.logo-text {
    margin: auto auto auto 10px;
    font-weight: bold;
}

.bar {
    display: flex;
    /*margin-right: 190px;*/
    /*background-color: pink;*/
}

.text-bar {
    margin: auto 39px auto auto;
    color: darkgray;
}

.text-bar:hover {
    color: black;
}

.content {
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding-top: 200px;
    font-size: 25px;
    color: white;
}

.img {
    width: 586px;
    height: 692px;
    margin: auto;
}


.provider-img{
    margin: auto;
}

/*.parent{*/
/*    position: relative;*/
/*}*/
/*.child{*/
/*    position: absolute;*/
/*    width: 250px;*/
/*    height: 250px;*/
/*}*/

/*.shadow{*/
/*    position: absolute;*/
/*    width: 250px;*/
/*    height: 250px;*/
/*    -webkit-box-shadow: inset 10px 10px 156px 65px rgba(0,0,0,0.75);*/
/*    -moz-box-shadow: inset 10px 10px 156px 65px rgba(0,0,0,0.75);*/
/*    box-shadow: inset 10px 10px 156px 65px rgba(0,0,0,0.75);*/
/*}*/

.provider-download-img{
    position: absolute;
    margin-left: 1450px;
    margin-top: -150px;
}

.header-text {
    display: flex;
}

.info {
    width: 445px;
    height: 332px;
    margin-top: 187px;
    /*margin-left: 54px;*/
}

.header-img {
    position: absolute;
    margin-top: 171px;

    /*margin-left: 20px;*/
}

.service-img {
    margin-top: 570px;
    margin-left: 320px;
}

.head-info-text {
    margin: auto;
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
}

.text-info {
    margin-top: 24px;
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
    color: #7D7987;
}

.button-header {
    width: 150px;
    height: 49px;;
    margin-top: 45px;
    border-radius: 55px;
    border: none;
    background: #458FF6;
    color: white;
}

.service {
    margin-top: 192px;
}

.service-header {
    margin: auto auto 26px;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    font-weight: bold;
}

.service-header-info {
    width: 952px;
    height: 177px;
    margin: auto auto 80px;
}

.decor {
    width: 56px;
    height: 2px;
    margin: auto auto 26px;
    left: 772px;
    top: 1049px;
    border-radius: 5px;
    background: #000000;
}

.provider-decor{
    width: 56px;
    height: 2px;
    margin-bottom: 26px;
    /*margin: auto auto 26px;*/
    left: 772px;
    top: 1049px;
    border-radius: 5px;
    background: #000000;
}

.service-decor {
    display: flex;
    position: absolute;
}

.service-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
}

.card {
    width: 350px;
    height: 354px;
    margin-right: 34px;
    margin-bottom: 37px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.services-cards {
    display: flex;
    justify-content: center;
    position: relative;
}

.service-button {
    margin: auto;
}

.services-cards-button {
    width: 150px;
    height: 49px;;
    margin: 40px auto 220px;
    border-radius: 55px;
    background: white;
    color: #458FF6;
    border: 2px solid #458FF6;
}

.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-logo {
    width: 92px;
    height: 90px;
    margin-top: 54px;
    margin-left: 37px;
}

.card-header {
    margin-left: 39px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
}

.card-text {
    margin-left: 39px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.providers{
    display: flex;
}
.download{
    display: flex;
    margin-left: 208px;
}

.provider-info{
    width: 505px;
    height: 388px;
    margin: 220px auto auto;
}

.download-info{
    width: 420px;
    height: 375px;
    margin: auto;
}

.provider-header-text{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
}

.provider-text-info{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}